@tailwind preflight;

@tailwind components;

@import "components/social-icons";

@tailwind utilities;

@responsive {
	.bg-cover-image {
		@apply w-full overflow-hidden;
	}
}

.zondicon {
	width: 16px;
	height: 16px;
}

.email-icon {
	fill: #2D4059;
}